.cor-1 {
  background-color: #686466; /* cinza escuro */
}
.cor-2 {
  background-color: #839cb5; /* azul marinho */
}
.cor-3 {
  background-color: #96d7eb; /* azul */
}
.cor-4 {
  background-color: #b1e1e9; /* azul claro */
}
.cor-5 {
  background-color: #f2e4f9; /* cinza claro */
}
